# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Vercel
.vercel

# Environment
.env
.env.local
.env.*.local

# Firebase service account credentials
*firebase-adminsdk*.json

# OS
.DS_Store
